.Header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    height: 4rem;
    border-bottom: 1px solid rgba(44, 45, 42, 0.25);
	position: sticky;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Header-mobile{
    display: none;
}

.logo p{
    font-size: 1.5rem;
}

.list{
    width: 30%;
}

.icons{
    width: 8%;
    display: flex;
    justify-content: space-evenly;
}

.icons a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 1.2rem;
}

.list ul a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.list ul a:hover{
    color: blueviolet;
    transition: all 0.2s ease-in;
    font-size: 1.3rem;
}

.list ul li{
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    .Header{
        display: none;
    }
    .Header-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0rem 3rem;
        color: black;
        height: 4rem;
        border-bottom: 1px solid rgba(44, 45, 42, 0.25);
        position: sticky;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .menu{
        position: absolute;
        top: 5rem;
        left: 0rem;
        width: 95%;
        background-color: rgb(255, 255, 255);
        box-shadow: 1rem 1rem 0rem 0rem;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
    }

    .mob-list{
        width: 100%;
    }


    .mob-list ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        font-size: 1.2rem;
        flex-direction: column;
        padding: 0rem;
    }

    .mob-list ul li{
        border-top: 1px solid black;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
    
    .mob-list ul a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    .icons{
        width: 15%;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .menu{
        width: 90%;
        height: 50vh;
        box-shadow: 0.8rem 0.8rem 0rem 0rem;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mob-list ul li{
        border-top: 1px solid black;
        width: 89%;
        text-align: center;
        padding: 2rem;
    }
}