.product-page{
  background-color: white;
  border-radius: 6rem;
}

.productsHeading {
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.678);
    font: 500 1.5vmax "Roboto";
    text-align: center;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    min-height: 30vh;
  }
  
  .paginationBox {
    display: flex;
    justify-content: center;
    padding: 6vmax;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  
  .page-item:hover {
    background-color: #29ff7e;
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: rgb(48, 48, 48);
  }
  
  .pageLinkActive {
    color: white;
  }
  
  
  .categoryBox {
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  
  .category-link {
    list-style: none;
    background-color: transparent;
    color: black;
    font: 800 0.8vmax "Roboto";
    margin: 0.4vmax;
    cursor: pointer;
    border: 1px solid #161616;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }
  .category-link:hover {
    background-color: #29ff7e;
    border: none;
    transition: all 0.4s;
  }
  
  .filterBox > fieldset {
    border: 1px solid rgba(0, 0, 0, 0.329);
  }
  
  @media screen and (max-width: 600px) {
    .products{
        padding: 0px;
    }

    .filterBox {
      width: 100%;
      position: static;
      margin: auto;
    }
  
    .page-link {
      font: 300 1.7vmax "Roboto";
    }
    
    .category-link {
      font: 400 1.5vmax "Roboto";
      margin: 0.3vmax;
      cursor: pointer;
      transition: all 0.5s;
      border: 1px solid black;
      padding: 0.2rem;
    }
  }