:root{
    --background-dark: #aab3c8;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 55vmax;
  }

  .hero-section{
    background-color: #161616;
    display: flex;
    height: 90vmin;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .hero-img{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .hero-img img{
    width: 15vmax;
    border-radius: 1rem;
  }

  .hero-img img:hover{
    transform: scale(1.1) ;
    transition: all 0.3s ease;
  }

  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .banner h1{
    margin: 0rem;
    font: 600 2.5vmax "Roboto";
  }

  .banner p{
    margin-top: 5rem;
    font: 300 1.4vmax "Roboto";
  }

  #scroll-button{
    margin-bottom: 5vmax;
    margin-top: 3rem;
    cursor: pointer;
    background-image:  linear-gradient(74.77deg, #29ff7e , #4541ff );
    border: none;
    border-radius: 1rem;
    padding-top: 0.5vmax;
    transition: all 0.2s;
    width: 9rem;
    font-size: 0.8rem;
  }

  .hero-section .scroll-down{
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #scroll-button:hover{
    color: white;
    transform: translateY(-0.5vmax);
  }

  .hero-section a{
    text-decoration: none;
  }

  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }

  .scroll-to{
    border-radius: 5rem;
    background-color: white;
  }

  .container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }

  .productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    box-shadow: 0rem 0rem 2rem 0rem rgba(121, 121, 121, 0.336);
    border-radius: 1rem;
    color: black;
    margin: 2vmax;
    transition: all 0.5s;
    padding: 0.5vmax;
  }
  
  .productCard > img {
    width: 100%;
    height: 15vmax;
    object-fit: contain;
    border-radius: 1rem;
  }
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.5vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
  }
  
  @media screen and (max-width: 600px) {

    .hero-section{
      height: 80vh;
    }

    .hero-img{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .productCard{
      width: 20vmax;
    }

    .productCard > p {
      font-size: 2.5vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 2.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }


    .scroll-down{
      font-size: 1.5vmax;
      width: 6rem;
      margin-top: 2rem;
      border-radius: 0.4rem;
    }
  }